@import url(https://fonts.googleapis.com/css?family=Lato:regular,400,italic,500,700,700italic,900,900italic&display=swap);

@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?l9s558');
  src:  url('../fonts/icon.eot?l9s558#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?l9s558') format('truetype'),
    url('../fonts/icon.woff?l9s558') format('woff'),
    url('../fonts/icon.svg?l9s558#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Переменные

$white: #fff;
$gray100: #f9f9f9;
$gray200: #f4f5f7;
$gray300: #e5e8ed;
$gray400: #d7dadd;
$gray500: #b3b7bc;
$gray600: #9a9ca5;
$gray700: #787a80;
$gray800: #424551;
$gray900: #1e212c;
$headerTop: #343640;
$submenu: #bec1c6;
$success: #03cea4;
$primary: #17696a;
$danger: #ff4242;
$warning: #f89828;
$info: #5a87fc;

// Наследование

%container {
  max-width: 77.5rem;
  margin: 0 auto;
}

%h1 {
  font-size: 2.9rem;
  line-height: 1.3;
}

%h2 {
  font-size: 2rem;
  line-height: 1.3;
}

%h3 {
  font-size: 1.75rem;
  line-height: 1.5;
}

%h4 {
  font-size: 1.5rem;
  line-height: 1.3;
}

%h5 {
  font-size: 1.13rem;
  line-height: 1.3;
}

%h6 {
  font-size: 1rem;
  line-height: 1.5;
}

%title {
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  color: $gray900;
}

%subtitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0%;
  text-align: left;
  color: $gray900;
}

// Миксины

@mixin btn {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 4px;
  color: $primary;
  transition: all 0.25s ease;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    color: $submenu;
    transition: all 0.25s ease;
  }
}

// Общие правила

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  color: $gray800;
  background-color: $white;
}

a {
  text-decoration: none;
  color: $gray600;
}

a:focus,
a:active {
  outline: none;
}

ul li {
  list-style: none;
}

.container {
  @extend %container;
}

.lock {
  overflow: hidden;
}

.title {
  @extend %title;
}

.sale {
  color: $white;
  padding: 1px 8px;
  background-color: $danger;
  border-radius: 4px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.price-new {
  @extend %h4;
  font-weight: 700;
  margin-bottom: 20px;
}

.price-old {
  @extend %h5;
  color: $gray700;
  padding-top: 5px;
  margin-left: 7px;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    border: 1px solid $gray700;
    position: absolute;
    top: 33%;
    left: 0;
  }
}

._active {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
      -45deg,
      rgba(218, 219, 221, 0) 0%,
      rgba(218, 219, 221, 0.5) 12.326%,
      rgb(218, 219, 221) 51.91%,
      rgba(218, 219, 221, 0.5) 87.848%,
      rgba(218, 219, 221, 0) 100%
    );
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s;
  }
  &:hover:before {
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.25s;
  }
}

.arrow {
  width: 10px;
  height: 7px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid $gray600;
  border-right: 2px solid transparent;
  border-left: 2px solid $gray600;
  transform: rotate(-45deg);
}

._danger {
  color: $danger;
}

.black {
  background-color: #000;
}
.lightgray {
  background-color: lightgray;
}
.darkgray {
  background-color: #424551;
}
.pink {
  background-color: pink;
}
.lightblue {
  background-color: lightblue;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: #874E19;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.lightgreen {
  background-color: lightgreen;
}
.purple {
  background-color: purple;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-alert:before {
  content: "\e900";
}
._icon-alert-octagon:before {
  content: "\e901";
}
._icon-attach:before {
  content: "\e902";
}
._icon-back:before {
  content: "\e903";
}
._icon-bag:before {
  content: "\e904";
}
._icon-basket:before {
  content: "\e905";
}
._icon-behance:before {
  content: "\e906";
}
._icon-bell:before {
  content: "\e907";
}
._icon-bleach:before {
  content: "\e908";
}
._icon-block:before {
  content: "\e909";
}
._icon-calendar:before {
  content: "\e90a";
}
._icon-card:before {
  content: "\e90b";
}
._icon-chat:before {
  content: "\e90c";
}
._icon-check:before {
  content: "\e90d";
}
._icon-check-round:before {
  content: "\e90e";
}
._icon-clock:before {
  content: "\e90f";
}
._icon-closed-eye:before {
  content: "\e910";
}
._icon-close-round:before {
  content: "\e911";
}
._icon-comment:before {
  content: "\e912";
}
._icon-comments:before {
  content: "\e913";
}
._icon-convert:before {
  content: "\e914";
}
._icon-cross:before {
  content: "\e915";
}
._icon-danger:before {
  content: "\e916";
}
._icon-delete:before {
  content: "\e917";
}
._icon-dislike:before {
  content: "\e918";
}
._icon-down-chevron:before {
  content: "\e919";
}
._icon-dry-clean:before {
  content: "\e91a";
}
._icon-envel-opened:before {
  content: "\e91b";
}
._icon-expand:before {
  content: "\e91c";
}
._icon-external-link:before {
  content: "\e91d";
}
._icon-eye:before {
  content: "\e91e";
}
._icon-favorite:before {
  content: "\e91f";
}
._icon-figma:before {
  content: "\e920";
}
._icon-files:before {
  content: "\e921";
}
._icon-filter-1:before {
  content: "\e922";
}
._icon-filter-2:before {
  content: "\e923";
}
._icon-vertical-fluid:before {
  content: "\e924";
}
._icon-github:before {
  content: "\e925";
}
._icon-gitlab:before {
  content: "\e926";
}
._icon-google:before {
  content: "\e927";
}
._icon-google-hangouts:before {
  content: "\e928";
}
._icon-grid:before {
  content: "\e929";
}
._icon-hand-wash:before {
  content: "\e92a";
}
._icon-hanger:before {
  content: "\e92b";
}
._icon-history:before {
  content: "\e92c";
}
._icon-home:before {
  content: "\e92d";
}
._icon-ic-call-center:before {
  content: "\e92e";
}
._icon-ic-delivery:before {
  content: "\e92f";
}
._icon-ic-shield:before {
  content: "\e930";
}
._icon-info:before {
  content: "\e931";
}
._icon-iPhone:before {
  content: "\e932";
}
._icon-ironing:before {
  content: "\e933";
}
._icon-ironing-1:before {
  content: "\e934";
}
._icon-ironing-2:before {
  content: "\e935";
}
._icon-ironing-3:before {
  content: "\e936";
}
._icon-layouts:before {
  content: "\e937";
}
._icon-like:before {
  content: "\e938";
}
._icon-list:before {
  content: "\e939";
}
._icon-lock:before {
  content: "\e93a";
}
._icon-login:before {
  content: "\e93b";
}
._icon-mail:before {
  content: "\e93c";
}
._icon-mark:before {
  content: "\e93d";
}
._icon-e-mail:before {
  content: "\e93e";
}
._icon-mic:before {
  content: "\e93f";
}
._icon-minus:before {
  content: "\e940";
}
._icon-minus-round:before {
  content: "\e941";
}
._icon-next-btn:before {
  content: "\e942";
}
._icon-no-volume:before {
  content: "\e943";
}
._icon-no-bleach:before {
  content: "\e944";
}
._icon-no-dry-clean:before {
  content: "\e945";
}
._icon-no-ironing:before {
  content: "\e946";
}
._icon-no-tumble-dry:before {
  content: "\e947";
}
._icon-no-wash:before {
  content: "\e948";
}
._icon-odnoklassniki:before {
  content: "\e949";
}
._icon-paypal:before {
  content: "\e94a";
}
._icon-adress:before {
  content: "\e94b";
}
._icon-pinterest:before {
  content: "\e94c";
}
._icon-play:before {
  content: "\e94d";
}
._icon-plus:before {
  content: "\e94e";
}
._icon-plus-round:before {
  content: "\e94f";
}
._icon-prev-btn:before {
  content: "\e950";
}
._icon-profile:before {
  content: "\e951";
}
._icon-reload:before {
  content: "\e952";
}
._icon-rss:before {
  content: "\e953";
}
._icon-search:before {
  content: "\e954";
}
._icon-share:before {
  content: "\e955";
}
._icon-share-arrow:before {
  content: "\e956";
}
._icon-shield:before {
  content: "\e957";
}
._icon-skype:before {
  content: "\e958";
}
._icon-range:before {
  content: "\e959";
}
._icon-telegram:before {
  content: "\e95a";
}
._icon-tumble-dry:before {
  content: "\e95b";
}
._icon-tumble-dry-1:before {
  content: "\e95c";
}
._icon-tumble-dry-2:before {
  content: "\e95d";
}
._icon-tumble-dry-3:before {
  content: "\e95e";
}
._icon-unlock:before {
  content: "\e95f";
}
._icon-up:before {
  content: "\e960";
}
._icon-up-down-select:before {
  content: "\e961";
}
._icon-upload:before {
  content: "\e962";
}
._icon-vertical:before {
  content: "\e963";
}
._icon-viber:before {
  content: "\e964";
}
._icon-vk:before {
  content: "\e965";
}
._icon-volume-off:before {
  content: "\e966";
}
._icon-volume-on:before {
  content: "\e967";
}
._icon-volume-max:before {
  content: "\e968";
}
._icon-wallet:before {
  content: "\e969";
}
._icon-wash:before {
  content: "\e96a";
}
._icon-wash-1:before {
  content: "\e96b";
}
._icon-wash-2:before {
  content: "\e96c";
}
._icon-wash-3:before {
  content: "\e96d";
}
._icon-whatsapp:before {
  content: "\e96e";
}
._icon-youtube:before {
  content: "\e96f";
}

.small-card {
  &__body {
    width: 285px;
    height: auto !important;
    position: relative;
    transition: all 0.25s ease;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      border-radius: 4px;
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),0px 12px 10px -6px rgba(154, 156, 165, 0.08),0px 30px 24px -10px rgba(154, 156, 165, 0.1),0px 80px 80px -20px rgba(154, 156, 165, 0.16);
      transition: box-shadow 0.25s ease;
    }
    &:hover .small-card__info-hidden {
      opacity: 1;
      transition: opacity 0.25s ease;
    }
  }
  &__img {
    width: 285px;
    height: 320px;
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
  }
  &__favorite {
    position: absolute;
    top: 17rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 50%;
    color: $gray600;
    transition: color 0.25s ease;
    &:hover {
      color: $danger;
      transition: color 0.25s ease;
    }
    &._icon-favorite:before {
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__info {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 25%;
    &-title {
      @extend %h5;
      padding-bottom: 0.5rem;
      flex: 1 auto;
    }
    &-price {
      display: flex;
      gap: 5px;
    }
    &-hidden {
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.25s ease;
    }
    &-btn {
      @include btn;
      background: $primary;
      color: $white;
      span {
        font-size: 14px;
        font-weight: 700;
        //line-height: 36px;
        letter-spacing: 0.5px;
        padding-left: 9px;
      }
      &:hover {
        background-color: transparent;
        color: $primary;
      }
    }
  }
}

.large-card {
  display: flex;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 6.15rem 0 2.25rem 0;
  &__body {
    max-width: 390px;
    height: auto !important;
    background-color: transparent;
    position: relative;
    transition: all 0.25s ease;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    &:hover {
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),0px 12px 10px -6px rgba(154, 156, 165, 0.08),0px 30px 24px -10px rgba(154, 156, 165, 0.1),0px 80px 80px -20px rgba(154, 156, 165, 0.16);
      transition: all 0.25s ease;
    }
    &:hover .large-card__info-hidden {
      opacity: 1;
      transition: all 0.25s ease;
    }
  }
  &__img {
    width: 390px;
    height: 440px;
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
  }
  &__favorite {
    position: absolute;
    top: 24rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 50%;
    color: $gray600;
    transition: color 0.25s ease;
    &:hover {
      color: $danger;
      transition: color 0.25s ease;
    }
    &._icon-favorite:before {
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 25%;
    &-title {
      @extend %h5;
      padding-bottom: 0.5rem;
      flex: 1 auto;
    }
    &-price {
      display: flex;
      gap: 5px;
    }
    &-hidden {
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.25s ease;

    }
    &-btn {
      @include btn;
      background: $primary;
      color: $white;
      span {
        font-size: 14px;
        font-weight: 700;
        //line-height: 36px;
        letter-spacing: 0.5px;
        padding-left: 9px;
      }
      &:hover {
        background-color: transparent;
        color: $primary;
      }
    }
  }
}

.card-dop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__sizes {
    display: flex;
    gap: 8px;
  }
  &__size {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    padding: 0 4px;
    border: 1px solid $submenu;
    border-radius: 4px;
    cursor: pointer;
    transition: border 0.25s ease;
    &:hover {
      border: 1px solid $primary;
      transition: border 0.25s ease;
    }
  }
  &__colors {
    display: flex;
    gap: 8px;
  }
  &__color {
    width: 24px;
    height: 24px;
    border: 1px solid $submenu;
    border-radius: 50%;
    transition: border 0.25s ease;
    position: relative;
    &:hover {
      border: 1px solid $primary;
      transition: border 0.25s ease;
    }
    &-circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}