.breadcrumbs {
  background-color: $gray200;
  padding: 18.5px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    white-space: nowrap;
    overflow: auto;
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    padding: 0 18px;
    &:after {
      content: '';
      width: 6px;
      height: 6px;
      border-right: 2px solid $gray600;
      border-bottom: 2px solid $gray600;
      transform: rotate(-45deg);
      position: absolute;
      top: 9px;
      right: -2px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    color: $gray800;
    transition: color 0.25s ease;
    &:hover {
      color: $primary;
      transition: color 0.25s ease;
    }
  }
  &__current {
    color: $gray600;
  }
}

.active-filters {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__item {
    position: relative;
    cursor: pointer;
    .active-filters__btn,
    .active-filters__btn--all {
      cursor: pointer;
      transition: color 0.25s ease;
      &:hover {
        color: $primary;
        transition: color 0.25s ease;
      }
    }
  }
  &__btn {
    color: $gray600;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    &:before {
      content: '\00D7';
      font-size: 14px;
      color: $gray600;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
  &__btn--all {
    color: $gray800;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    &:before {
      content: '\00D7';
      font-size: 14px;
      color: $gray800;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}

.catalog {
  padding: 32px 0 51px 0;
  &__body {
    transition: all 0.25s ease;
    &.open-filter {
      display: grid;
      grid-template-columns: 265px 1fr;
      gap: 35px;
      transition: all 0.25s ease;
    }
  }
}

.catalog-control {
  display: grid;
  grid-template-columns: 285px 1fr;
  gap: 35px;
  margin-bottom: 34px;
  &__btn {
    width: 100%;
    @include btn-white;
    @extend %title;
    text-transform: none;
    letter-spacing: 0.5px;
    background-color: $primary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 32px;
    gap: 10px;
    &:hover {
      color: $primary;
      background-color: transparent;
      transition: all .25s ease;
    }
  }
}

.filter-catalog {
  &__items {
    display: none;
    transition: all 0.25s ease;
    &.open-filter {
      display: block;
      transition: all 0.25s ease;
    }
  }
	&__item {
    //margin: 30px 0;
    position: relative;
    transition: all 0.15s ease;
    &-title {
      width: 260px;
      padding: 20px 0;
      position: relative;
      cursor: pointer;
      text-transform: capitalize;
      letter-spacing: 0;
      position: relative;
      &:after,
      &:before {
        content: '';
        width: 13px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        transition: transform 0.15s ease;
      }
      &:after { 
        transform: rotate(-90deg);
      }
    }
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $gray300;
      position: absolute;
      left: 0;
    }
    &.active {
      .filter-catalog__item-title:after {
        transform: rotate(0deg);
        transition: transform 0.15s ease;
      }
      .content-item {
        display: block;
        animation: visible 1s forwards;
      }
    }
	}
}

.control-panel {
  display: flex;
  align-items: center;
  gap: 43px;
  &__sorting, &__view {
    display: flex;
    align-items: center;
    gap: 12px;
    &-name {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.6;
    }
  }
  &__view {
    &-text {
      font-size: 14px;
      color: $gray700;
    }
    &-count {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      input[type='number'] {
        width: 80px;
        height: 46px;
        background: $white;
        color: $gray800;
        border: 1px solid $gray400;
        border-radius: $borderRadius;
        appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
      }
      & .input-short {
        font-size: 14px;
        line-height: 1.5;
        padding-left: 16px;
        position: relative;
      }
    }
  }
}

.view-count {
  &__arrows {
    color: $gray800;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    font-size: 14px;
    cursor: pointer;
  }
  &__arrow-up,
  &__arrow-down {
    &:hover {
      color: $primary;
    }
  }
  &__arrow-up {
    transform: rotate(180deg);
  }
}

.dropdown {
  position: relative;
  &__button {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    text-align: left;
    background: $white;
    color: $gray800;
    border: 1px solid $gray400;
    border-radius: $borderRadius;
    height: 46px;
    padding: 8px;
    font-size: 14px;
    line-height: 1.5;
    text-transform: lowercase;
    cursor: pointer;
    &:focus,
    &--active {
      outline: none;
      border: 1px solid $primary;
      box-shadow: 4px 4px 8px $primary;
    }
  }
  &__list {
    display: none;
    background: $white;
	  box-shadow: 0px 4px 8px $gray400;
	  overflow: hidden;
    position: absolute;
	  left: 0;
	  top: 52px;
    border-radius: $borderRadius;
	  width: 185px;
	  z-index: 1;
    &--visible {
      display: block;
      animation: visible 0.25s forwards;
    }
    &-item {
      font-size: 14px;
      line-height: 1.5;
      text-transform: lowercase;
	    border-bottom: 0px;
	    padding: 4px 8px;
	    cursor: pointer;
      &:hover {
        background-color: rgba($primary, 0.3);
      }
    }
  }
  &__input-hidden {
    display: none;
  }
}

.content-item {
  overflow: hidden;
  display: none;
  transition: all 0.25s ease;
  &__container {
    color: $gray800;
    padding-bottom: 20px;
  }
  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  &__color {
    display: flex;
    flex-direction: column;
    width: 34px;
    height: 34px;
    border: 1px solid $submenu;
    border-radius: 50%;
    transition: border 0.25s ease;
    position: relative;
    &:hover {
      border: 1px solid $primary;
      transition: border 0.25s ease;
    }
    &-circle {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.price-filter {
  padding: 12px 0;
  input[type='number'] {
    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  &__slider {
    margin-bottom: 20px;
  }
  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    display: flex;
    align-items: center;
    width: 110px;
    height: 46px;
    border: 1px solid $gray400;
    border-radius: $borderRadius;
    padding: 0 8px;
  }
  &__text {
    font-size: 14px;
    color: $gray800;
    &:first-child {
      margin-right: 8px;
    }
  }
  &__input {
    border: none;
    outline: none;
    width: 60%;
    &::placeholder {
      font-size: 14px;
      color: $gray800;
    }
  }
}

.noUi-connect {
	background-color: $primary !important;
}

.noUi-target {
	background-color: $gray400 !important;
	border: none !important;
	border-radius: $borderRadius;
	box-shadow: none !important;
	height: 2px !important;
}

.noUi-horizontal {
  width: 95%;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none !important;
}

.noUi-handle {
	box-shadow: none !important;
	border-radius: 50% !important;
	background-color: $primary !important;
	border: 3px solid $primary !important;
}

.noUi-horizontal .noUi-handle {
	width: 14px !important;
	height: 14px !important;
  right: -10px !important;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle-upper {
	right: 0;
}

.products {
  &__card {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 35px;
    row-gap: 10px;
    padding-bottom: 45px;
    transition: all 0.25s ease;
  }
  .open-filter {
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;
    transition: all 0.25s ease;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__arrow {
    background-color: transparent;
    border: none;
    @extend %h6;
    font-weight: 700;
    cursor: pointer;
    &.disabled {
      display: none;
    }
  }
  &__list {
    display: flex;
    gap: 20px;
  }
  &__link {
    @extend %h5;
    font-weight: 700;
    color: $gray800;
    &.active {
      color: $primary;
    }
  }
}
