.breadcrumbs {
  background-color: $gray200;
  padding: 18.5px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    white-space: nowrap;
    overflow: auto;
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    padding: 0 18px;
    &:after {
      content: '';
      width: 6px;
      height: 6px;
      border-right: 2px solid $gray600;
      border-bottom: 2px solid $gray600;
      transform: rotate(-45deg);
      position: absolute;
      top: 9px;
      right: -2px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    color: $gray800;
    transition: color 0.25s ease;
    &:hover {
      color: $primary;
      transition: color 0.25s ease;
    }
  }
  &__current {
    color: $gray600;
  }
}

.active-filters {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__item {
    position: relative;
    cursor: pointer;
    .active-filters__btn,
    .active-filters__btn--all {
      cursor: pointer;
      transition: color 0.25s ease;
      &:hover {
        color: $primary;
        transition: color 0.25s ease;
      }
    }
  }
  &__btn {
    color: $gray600;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    &:before {
      content: '\00D7';
      font-size: 14px;
      color: $gray600;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
  &__btn--all {
    color: $gray800;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    &:before {
      content: '\00D7';
      font-size: 14px;
      color: $gray800;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}

.catalog {
  padding: 32px 0 51px 0;
  &__container {
    display: grid;
    grid-template-columns: 255px 1fr;
    gap: 60px;
  }
}

.filter-catalog {
  &__title {
    @include btn;
    background-color: $primary;
    color: $white;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 34px;
  }
	&__item {
    margin: 20px 0;
    position: relative;
    &-title {
      margin: 12px 0;
      position: relative;
      cursor: pointer;
      &:after {
        content: '\002B';
        position: absolute;
        top: 43%;
        transform: translate(0,-50%);
        right: 0;
        font-size: 22px;
        color: $primary;
      }
    }
    &-content {
      overflow: hidden;
      max-height: 0;
      padding-bottom: 7px;
      transition: all 0.25s ease;
    }
    &:after {
      content: '';
      width: 100%;
      border-bottom: 1px solid $gray300;
      color: $gray300;
      position: absolute;
      left: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &.open .filter-catalog__item-title:after {
      content: '\2014';
    }
	}
}

.products {
  &__card {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 35px;
    row-gap: 10px;
    padding-bottom: 45px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__arrow {
    background-color: transparent;
    border: none;
    @extend %h6;
    font-weight: 700;
    cursor: pointer;
    &.disabled {
      display: none;
    }
  }
  &__list {
    display: flex;
    gap: 20px;
  }
  &__link {
    @extend %h5;
    font-weight: 700;
    color: $gray800;
    &.active {
      color: $primary;
    }
  }
}

