.breadcrumbs {
  background-color: $gray200;
  padding: 18.5px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    white-space: nowrap;
    overflow: auto;
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    padding: 0 18px;
    &:after {
      content: '';
      width: 6px;
      height: 6px;
      border-right: 2px solid $gray600;
      border-bottom: 2px solid $gray600;
      transform: rotate(-45deg);
      position: absolute;
      top: 9px;
      right: -2px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    color: $gray800;
    transition: color 0.25s ease;
    &:hover {
      color: $primary;
      transition: color 0.25s ease;
    }
  }
  &__current {
    color: $gray600;
  }
}

.active-filters {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__item {
    position: relative;
    cursor: pointer;
    .active-filters__btn,
    .active-filters__btn--all {
      cursor: pointer;
      transition: color 0.25s ease;
      &:hover {
        color: $primary;
        transition: color 0.25s ease;
      }
    }
  }
  &__btn {
    color: $gray600;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    &:before {
      content: '\00D7';
      font-size: 14px;
      color: $gray600;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
  &__btn--all {
    color: $gray800;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    &:before {
      content: '\00D7';
      font-size: 14px;
      color: $gray800;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}

.catalog {
  padding: 32px 0 51px 0;
  &__body {
    transition: all 0.25s ease;
    &.open-filter {
      display: grid;
      grid-template-columns: 265px 1fr;
      gap: 35px;
      transition: all 0.25s ease;
    }
  }
}

.catalog-control {
  display: grid;
  grid-template-columns: 265px 215px 215px;
  gap: 35px;
  &__btn {
    width: 100%;
    @include btn;
    @extend %title;
    text-transform: none;
    letter-spacing: 0.5px;
    background-color: $primary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 32px;
    gap: 10px;
    margin-bottom: 34px;
    &:hover {
      color: $primary;
      background-color: transparent;
      transition: all .25s ease;
    }
  }
}

.filter-catalog {
  &__items {
    display: none;
    transition: all 0.25s ease;
    &.open-filter {
      display: block;
      width: 21%;
      z-index: 99;
      transition: all 0.25s ease;
    }
  }
	&__item {
    margin: 20px 0;
    position: relative;
    &-title {
      width: 260px;
      margin: 16px 0;
      position: relative;
      cursor: pointer;
      text-transform: capitalize;
      letter-spacing: 0;
      &:after,
      &:before {
        content: '';
        width: 13px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        top: 43%;
        transform: translate(0,-50%);
        right: 0;
        transition: transform 0.15s ease;
      }
      &:after {
        transform: rotate(-90deg);
      }
    }
    &.open .filter-catalog__item-title:after {
      transform: rotate(0deg);
    }
	}
}

.content-item {
  overflow: hidden;
  max-height: 0;
  transition: all 0.25s ease;
  &__container {
    color: $gray800;
    padding-bottom: 16px;
  }
}

.products {
  &__card {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 35px;
    row-gap: 10px;
    padding-bottom: 45px;
    transition: all 0.25s ease;
  }
  .open-filter {
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;
    transition: all 0.25s ease;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__arrow {
    background-color: transparent;
    border: none;
    @extend %h6;
    font-weight: 700;
    cursor: pointer;
    &.disabled {
      display: none;
    }
  }
  &__list {
    display: flex;
    gap: 20px;
  }
  &__link {
    @extend %h5;
    font-weight: 700;
    color: $gray800;
    &.active {
      color: $primary;
    }
  }
}

