.black {
  background-color: #000;
}
.lightgray {
  background-color: lightgray;
}
.darkgray {
  background-color: #424551;
}
.pink {
  background-color: pink;
}
.lightblue {
  background-color: lightblue;
}
.yellow {
  background-color: yellow;
}
.darkblue {
  background-color: darkblue;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: #874E19;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.lightgreen {
  background-color: lightgreen;
}
.purple {
  background-color: purple;
}