[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-alert:before {
  content: "\e900";
}
._icon-alert-octagon:before {
  content: "\e901";
}
._icon-attach:before {
  content: "\e902";
}
._icon-back:before {
  content: "\e903";
}
._icon-bag:before {
  content: "\e904";
}
._icon-basket:before {
  content: "\e905";
}
._icon-behance:before {
  content: "\e906";
}
._icon-bell:before {
  content: "\e907";
}
._icon-bleach:before {
  content: "\e908";
}
._icon-block:before {
  content: "\e909";
}
._icon-calendar:before {
  content: "\e90a";
}
._icon-card:before {
  content: "\e90b";
}
._icon-chat:before {
  content: "\e90c";
}
._icon-check:before {
  content: "\e90d";
}
._icon-check-round:before {
  content: "\e90e";
}
._icon-clock:before {
  content: "\e90f";
}
._icon-closed-eye:before {
  content: "\e910";
}
._icon-close-round:before {
  content: "\e911";
}
._icon-comment:before {
  content: "\e912";
}
._icon-comments:before {
  content: "\e913";
}
._icon-convert:before {
  content: "\e914";
}
._icon-cross:before {
  content: "\e915";
}
._icon-danger:before {
  content: "\e916";
}
._icon-delete:before {
  content: "\e917";
}
._icon-dislike:before {
  content: "\e918";
}
._icon-down-chevron:before {
  content: "\e919";
}
._icon-dry-clean:before {
  content: "\e91a";
}
._icon-envel-opened:before {
  content: "\e91b";
}
._icon-expand:before {
  content: "\e91c";
}
._icon-external-link:before {
  content: "\e91d";
}
._icon-eye:before {
  content: "\e91e";
}
._icon-favorite:before {
  content: "\e91f";
}
._icon-figma:before {
  content: "\e920";
}
._icon-files:before {
  content: "\e921";
}
._icon-filter-1:before {
  content: "\e922";
}
._icon-filter-2:before {
  content: "\e923";
}
._icon-vertical-fluid:before {
  content: "\e924";
}
._icon-github:before {
  content: "\e925";
}
._icon-gitlab:before {
  content: "\e926";
}
._icon-google:before {
  content: "\e927";
}
._icon-google-hangouts:before {
  content: "\e928";
}
._icon-grid:before {
  content: "\e929";
}
._icon-hand-wash:before {
  content: "\e92a";
}
._icon-hanger:before {
  content: "\e92b";
}
._icon-history:before {
  content: "\e92c";
}
._icon-home:before {
  content: "\e92d";
}
._icon-ic-call-center:before {
  content: "\e92e";
}
._icon-ic-delivery:before {
  content: "\e92f";
}
._icon-ic-shield:before {
  content: "\e930";
}
._icon-info:before {
  content: "\e931";
}
._icon-iPhone:before {
  content: "\e932";
}
._icon-ironing:before {
  content: "\e933";
}
._icon-ironing-1:before {
  content: "\e934";
}
._icon-ironing-2:before {
  content: "\e935";
}
._icon-ironing-3:before {
  content: "\e936";
}
._icon-layouts:before {
  content: "\e937";
}
._icon-like:before {
  content: "\e938";
}
._icon-list:before {
  content: "\e939";
}
._icon-lock:before {
  content: "\e93a";
}
._icon-login:before {
  content: "\e93b";
}
._icon-mail:before {
  content: "\e93c";
}
._icon-mark:before {
  content: "\e93d";
}
._icon-e-mail:before {
  content: "\e93e";
}
._icon-mic:before {
  content: "\e93f";
}
._icon-minus:before {
  content: "\e940";
}
._icon-minus-round:before {
  content: "\e941";
}
._icon-next-btn:before {
  content: "\e942";
}
._icon-no-volume:before {
  content: "\e943";
}
._icon-no-bleach:before {
  content: "\e944";
}
._icon-no-dry-clean:before {
  content: "\e945";
}
._icon-no-ironing:before {
  content: "\e946";
}
._icon-no-tumble-dry:before {
  content: "\e947";
}
._icon-no-wash:before {
  content: "\e948";
}
._icon-odnoklassniki:before {
  content: "\e949";
}
._icon-paypal:before {
  content: "\e94a";
}
._icon-adress:before {
  content: "\e94b";
}
._icon-pinterest:before {
  content: "\e94c";
}
._icon-play:before {
  content: "\e94d";
}
._icon-plus:before {
  content: "\e94e";
}
._icon-plus-round:before {
  content: "\e94f";
}
._icon-prev-btn:before {
  content: "\e950";
}
._icon-profile:before {
  content: "\e951";
}
._icon-reload:before {
  content: "\e952";
}
._icon-rss:before {
  content: "\e953";
}
._icon-search:before {
  content: "\e954";
}
._icon-share:before {
  content: "\e955";
}
._icon-share-arrow:before {
  content: "\e956";
}
._icon-shield:before {
  content: "\e957";
}
._icon-skype:before {
  content: "\e958";
}
._icon-range:before {
  content: "\e959";
}
._icon-telegram:before {
  content: "\e95a";
}
._icon-tumble-dry:before {
  content: "\e95b";
}
._icon-tumble-dry-1:before {
  content: "\e95c";
}
._icon-tumble-dry-2:before {
  content: "\e95d";
}
._icon-tumble-dry-3:before {
  content: "\e95e";
}
._icon-unlock:before {
  content: "\e95f";
}
._icon-up:before {
  content: "\e960";
}
._icon-up-down-select:before {
  content: "\e961";
}
._icon-upload:before {
  content: "\e962";
}
._icon-vertical:before {
  content: "\e963";
}
._icon-viber:before {
  content: "\e964";
}
._icon-vk:before {
  content: "\e965";
}
._icon-volume-off:before {
  content: "\e966";
}
._icon-volume-on:before {
  content: "\e967";
}
._icon-volume-max:before {
  content: "\e968";
}
._icon-wallet:before {
  content: "\e969";
}
._icon-wash:before {
  content: "\e96a";
}
._icon-wash-1:before {
  content: "\e96b";
}
._icon-wash-2:before {
  content: "\e96c";
}
._icon-wash-3:before {
  content: "\e96d";
}
._icon-whatsapp:before {
  content: "\e96e";
}
._icon-youtube:before {
  content: "\e96f";
}