@media (max-width: 78.12rem) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sub-menu-catalog {
    &__block {
      column-gap: 1rem;
    }
    &__wrapper {
      margin-right: 2.2rem;
    }
  }
}

@media (max-width: 1200px) and (min-width: 375px) {
  .sub-menu-catalog {
    &__wrapper {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &__sale {
      display: none;
    }
  }
  .search-header {
    display: none;
  }
  .mobile-search {
    display: block;
    &__form {
      display: flex;
      align-items: center;
    }
    &__button {
      color: $gray600;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
    ._icon-search::before {
      font-size: 1.7rem;
    }
  }
  .actions-header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    z-index: 5;
    &__favorite {
      display: flex;
      align-items: center;
      column-gap: 8px;
      position: relative;
      &-num {
        display: none;
      }
      ._icon-favorite::before {
        font-size: 1.8rem;
      }
    }
    &__basket {
      display: flex;
      align-items: center;
      column-gap: 8px;
      position: relative;
      &-num {
        font-size: 10px;
        border-radius: 50%;
        padding: 1px 6px;
        position: absolute;
        top: -3px;
        right: -5px;
      }
      ._icon-basket::before {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 900px) and (min-width: 375px) {
  .top-menu {
    &__list {
      display: none;
    }
  }
}

@media (max-width: 830px) and (min-width: 375px) {
  .catalog-menu {
    display: none;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    transition: right .5s ease 0s;
    cursor: pointer;
    z-index: 10;
    &.active {
      position: fixed;
      right: 30px;
      transform: rotate(90deg);
      transition: right .5s ease 0s;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.5s ease 0s;
      right: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $gray600;
      transition: right .5s ease 0s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
  }
}

@media (max-width: 500px) and (min-width: 375px) {
  .header-top {
    &__phone {
      display: none;
    }
  }
  .user-panel {
    gap: 180px;
    margin: 0 auto;
  }
  .profile {
    &__icon {
      gap: 10px;
      span {
        cursor: pointer;
        transition: color 0.25s ease;
        &:hover {
          color: $primary;
          transition: color 0.25s ease;
        }
      }
    }
    &__link {
      display: none;
    }
  }
}