.news-subscribe {
  background-color: $gray200;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    padding: 65px 0;
  }
  &__title {
    @extend %h2;
    font-size: 46px;
    color: $gray900;
    padding-bottom: 24px;
  }
  &__text {
    @extend %h5;
    color: $gray700;
    padding-bottom: 24px;
  }
  &__form {
    width: 395px;
    @extend %title;
    color: $gray800;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    &-line {
      min-width: 360px;
      padding: 8px 0 13px 0;
      position: relative;
    }
    &-label {
      @extend %h6;
    }
    &-input {
      width: 215px;
      padding: 12px 16px;
      border: 1px solid $submenu;
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      outline: none;
      &:focus {
        border: 1px solid $primary;
        transition: border 0.15s ease;
        &::placeholder {
          color: transparent;
          transition: border 0.15s ease;
        }
      }
    }
    &-btn {
      @include btn-white;
      font-weight: 700;
      background-color: $primary;
      color: $white;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      position: absolute;
      left: 210px;
      &:focus {
        border: 1px solid $primary;
        transition: border 0.15s ease;
      }
      &:hover {
        color: $white;
      }
    }
  }
}